@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    padding: 40px;
    background-color: rgb(43, 43, 43);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 145px;
}

nav ul li {
    list-style: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}
nav ul a {
    text-decoration: none;
    position: relative; 
  }
  
  nav ul a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; 
    background-image: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    background-size: 100% 1px; 
    transform: translateY(-0.5px); 
    transition: height 0.3s ease-in-out;
  }
  
  nav ul a:hover::after, nav ul a.active::after {
    height: 2px; 
  }

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
}